div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.p3 {
  padding: 8px;
}

.upperline {
  border-top: 1px solid #eee;
}

.header {
  text-align: center;
  width: 100%;
  height: 340px;
  background-color: blanchedalmond;
}

.content {
  text-align: center;
  width: 100%;
  background-color: aquamarine;
}

.footer {
  text-align: center;
  width: 100%;
  background-color: blanchedalmond;
  float: left;
}

.left {
  float: left;
  text-align: center;
  width: 33%;
  background-color: darksalmon;
}

.right {
  float: left;
  text-align: center;
  width: 67%;
  background-color: darkkhaki;
}
/* list */
.food {
  margin: 20px auto;
  width: 200px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
}
